---
layout: layout.liquid
title: Everyday Carries
---

<h1> My <strong>Everyday</strong> Carries</h1>

<div class="indiv-page-content"> 
    {% thing "Phone", "/images/phone.png", "I'll never leave home without my phone because I need it to contact others and for music obviously." %}
</div>

<div class="indiv-page-content"> 
    {% thing "Wallet", "/images/wallet.png", "I'll never leave home without my wallet because it has my important cards like my driver's license, student ID, and debit card." %}
</div>

<div class="indiv-page-content"> 
    {% thing "Keys", "/images/keys.png", "I'll never leave home without my keys because 1. I need a way to lock and unlock my house and 2. I typically drive places (won't get far without my keys)." %}
</div>