---
layout: layout.liquid
title: Keys
---

<div class="indiv-page-content-large"> 
    {% thing-large "Keys", "/images/keys.png", "I'll never leave home without my keys because 1. I need a way to lock and unlock my house and 2. I typically drive places (won't get far without my keys)." %}
</div>