---
layout: layout.liquid
title: Phone
---

<div class="indiv-page-content-large"> 
    {% thing-large "Phone", "/images/phone.png", "I'll never leave home without my phone because I need it to contact others and for music obviously." %}
</div>
