---
layout: layout.liquid
title: Wallet
---

<div class="indiv-page-content-large"> 
    {% thing-large "Wallet", "/images/wallet.png", "I'll never leave home without my wallet because it has my important cards like my driver's license, student ID, and debit card." %}
</div>